{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <h1>Register</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {{ form_start(registrationForm) }}
                 <div class="row">
                    <div class="col-sm-4 mb-3">
                        {{ form_label(registrationForm.name, 'Name:', {'label_attr': {'class': 'form-label'}}) }}                        
                    </div>
                    <div class="col-sm-8 mb-3">                        
                        {{ form_widget(registrationForm.name, { 'attr': { 'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        {{ form_label(registrationForm.email, 'Email:', {'label_attr': {'class': 'form-label'}}) }}                        
                    </div>
                    <div class="col-sm-8 mb-3">                        
                        {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        {{ form_label(registrationForm.plainPassword, 'Password:', {'label_attr': {'class': 'form-label'}}) }}                        
                    </div>
                    <div class="col-sm-8 mb-3">                        
                        {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'form-control' }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        {{ form_label(registrationForm.agreeTerms, 'Agree terms:', {'label_attr': {'class': 'form-label'}}) }}                        
                    </div>
                    <div class="col-sm-8 mb-3">                        
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                </div>                                                               

                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>    
{% endblock %}
