{% extends 'base.html.twig' %}

{% block title %}Customer Login{% endblock %}

{% block main %}
    <h1>Customer Login</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">                                
            {{ form_start(form) }}
                {% for field in form.children %}
                    <div class="row {% if not field.vars.valid %}has-error{% endif %}">
                        {% if field.vars.name != "_token" %}
                            <div class="col-sm-4 mb-3">
                                {{ form_label(field, null, {'label_attr': {'class': 'form-label text-end'}}) }} 
                            </div>                                                
                        {% endif %}
                        {% if field.vars.name == "agreeTerms" %}
                            <div class="col-sm-8 mb-3">                        
                                {{ form_widget(field) }}
                            </div> 
                        {% else %}
                            <div class="col-sm-8 mb-3">                        
                                {{ form_widget(field, { 'attr': { 'class': 'form-control' }}) }}
                            </div>    
                        {% endif %}
                        <div class="col-sm-4 mb-3"></div>                                               
                        <div class="col-sm-8 mb-3">
                            <div class="error">{{ form_errors(field) }}</div>           
                        </div>                                                                             
                    </div>                           
                {% endfor %}
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label for="none">&nbsp;</label>
                    </div>
                    <div class="col-sm-8 mb-3">                        
                        <button type="submit" class="btn btn-outline-success">Login</button>
                    </div>
                </div>                
            {{ form_end(form) }}                                                  
        </div>
    </div>    
{% endblock %}
