{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block main %}
    <h1>Edit Product</h1>
    <div class="row">
        <figure class="figure col-3 text-center">
            <img class="figure-img" src="{{ asset('images/products/' ~ product.image) }}" alt="image {{ product.image }}">
            <figcaption>{{ product.name }}</figcaption>
        </figure>
        <div class="col-lg-7">
            {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">back to list</a>

            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>       
{% endblock %}
