{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block main %}
    <h1>Product</h1>
    <div class="container">
        <div class="row">
            <figure class="figure col-3 text-center">
                <img class="figure-img" src="{{ asset('images/products/' ~ product.image) }}" alt="image {{ product.image }}">
                <figcaption>{{ product.name }}</figcaption>
            </figure>
            <div class="col-7">
                <p><strong>Description:</strong></p>
                <p>{{ product.description }}</p>
                <p><strong>Price: </strong>{{ product.price }}€</p>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-outline-success" href="{{ path('app_cart_add', {'id': product.id}) }}">Add to cart</a>               
                {% else %}
                    <p class="error">* To add products you must be logged in!.</p>
                {% endif %}
            </div>            
        </div>
        <div class="row">
            <div class="col-3 text-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">back to list</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    {{ include('product/_delete_form.html.twig') }}
                {% else %}
                    <a class="btn btn-outline-success" href="{{ path('app_home') }}">Back</a>
                {% endif %}                
            </div>
        </div>
    </div>                
{% endblock %}
