{{ form_start(form) }}
    {% for field in form.children %}
        <div class="row {% if not field.vars.valid %}has-error{% endif %}">
            {% if field.vars.name != "_token" %}
                <div class="col-sm-4 mb-3">
                    {% if field.vars.name == "agreeTerms" %}
                        {{ form_label(field, null, {'label_attr': {'class': 'form-check-label'}}) }} 
                    {% else %}
                        {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }} 
                    {% endif %}                    
                </div>                                               
            {% endif %}
        
            {% if field.vars.name == "agreeTerms" and is_granted('ROLE_ADMIN') %}                 
                <div class="col-sm-8 mb-3 d-none">                        
                    {{ form_widget(field, { 'attr': { 'class': 'd-inline-block float-none align-baseline' }}) }}
                </div>                                                                                     
            {% elseif field.vars.name == "agreeTerms" %}
                <div class="col-sm-8 mb-3">                        
                    {{ form_widget(field, { 'attr': { 'class': 'form-check-input d-inline-block float-none align-baseline' }}) }}
                </div>
            {% else %}                
                <div class="col-sm-8 mb-3">                        
                    {{ form_widget(field, { 'attr': { 'class': 'form-control' }}) }}
                </div>                                 
            {% endif %}                                                                                         
            <div class="error">{{ form_errors(field) }}</div>    
        </div>             
    {% endfor %}
        <div class="row">
            <div class="col-sm-4 mb-3">
                <label for="none">&nbsp;</label>
            </div>
            <div class="col-sm-8 mb-3">                        
                <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
            </div>
        </div>                   
{{ form_end(form) }}
