{% extends 'base.html.twig' %}

{% block title %}{{ 'new user'|trans|title }}{% endblock %}

{% block main %}
    <h1 class="pb-4">{{ 'registration form'|trans|capitalize }}</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
    

    <a class="btn btn-outline-primary" href="{{ path('app_user_index') }}">{{ 'go back'|trans|capitalize }}</a>
{% endblock %}
